.left-footer {
    width: 22%;
    height: 95%;
    background-color: var(--secondary-color);
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    background-color: var(--background-color);
}

.cont-new-button {
    align-items: center;
    justify-content: center;
    height: 6%;
}

.new-button {
    background-color: var(--selected-color);
    border-radius: 15px;
    width: 100%;
    text-align: center;
    height: 100%;
    border: none;
    font-size: medium;
}

.main-left-footer {
    height: 94%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-text {
    font-size: 300%;
    margin-left: 5%;
}