* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --secondary-color: #242734;
    --background-color: #040514;
    --selected-color: #2166ED;
    --text-main-color: #FFFFFF;

    color: var(--text-main-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left-footer {
    height: 100%;
    width: 20%;
    background-color: var(--secondary-color);
    float: left;
}

.main {
    height: 100%;
    width: 80%;
    float: left;
    background-color: var(--background-color);
}